<div class="container">
    <div class="email-table-wrapper">
        <div class="email-card">
            <div class="email-card-body">
                <div class="container text-center">
                    <h5 class="cold">Not So Cold </h5>
                    <h5 class="title">Prospetive Employer Database</h5>
                </div>
                <div class="header-with-action">
                    <button (click)="openFilterModal()" class="btn-button filter-button">Filters</button>
                    <button (click)="openAddEmailModal()" class="btn-button addEmail-button">Add New Prospect </button>
                    <button (click)="logout()" class="btn-button logout-button">Log Out</button>
                </div>

                <!-- Display applied filter and make it editable -->
                <div *ngIf="appliedFilter" class="applied-filter-container">
                    <div *ngIf="appliedFilter.type === 'status'" class="applied-filter mb-3">
                        <label for="statusFilter">Selected Status:</label>
                        <select id="statusFilter" [(ngModel)]="selectedFilterStatus" class="form-select" (change)="applyStatusFilter()">
                            <option *ngFor="let status of emailStatuses" [value]="status">{{ status | titlecase }}</option>
                        </select>
                    </div>
                </div>

                <!-- Email Table -->
                 <div class="container">
                    <ul class="responsive-table p-0">
                        <li class="table-header">
                                <div class="col col-3">Email</div>
                                <div class="col col-1">Company</div>
                                <div class="col col-1">Job Title</div>
                                <div class="col col-1">Status</div>
                                <div class="col col-4">Actions</div>
                        </li>
                        <li class="table-row" *ngFor="let email of filteredEmailList">
                            <div class="col col-3">{{ email.email }}</div>
                            <div class="col col-1"><b>{{ email.company }}</b></div>
                            <div class="col col-1">{{ email.jobTitle }}</div>
                            <div class="col col-1">{{ email.status }}</div>
                            <div class="col col-4">
                                <button class="send-button" (click)="sendEmail(email)">
                                    <lord-icon
                                        src="https://cdn.lordicon.com/nqisoomz.json"
                                        trigger="hover"
                                        colors="primary:#001f3d,secondary:#f4c89c,tertiary:#e87a00,quaternary:#001f3d"
                                        style="width:40px;height:40px">
                                    </lord-icon>
                                </button>
                                <button class="edit-button" (click)="openEditEmailModal(email)">
                                    <lord-icon
                                        src="https://cdn.lordicon.com/lsrcesku.json"
                                        trigger="hover"
                                        colors="primary:#001f3d,secondary:#001f3d,tertiary:#e8b730,quaternary:#f4c89c"
                                        style="width:40px;height:40px">
                                    </lord-icon>
                                </button>
                                <button class="delete-button" (click)="deleteEmailEntry(email)">
                                    <lord-icon
                                        src="https://cdn.lordicon.com/xekbkxul.json"
                                        trigger="hover"
                                        colors="primary:#001f3d,secondary:#848484,tertiary:#646e78,quaternary:#f4c89c"
                                        style="width:40px;height:40px">
                                    </lord-icon>
                                </button>
                            </div>
                        </li>
                    </ul>
                 </div>


               
            </div>
        </div>
    </div>

    <!-- Add/Edit Email Modal -->
    <div id="addEmailModal" class="modal" [ngClass]="{'show': showAddEmailModal}">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ isEditMode ? 'Edit' : 'Add' }} Email Entry</h5>
                <button type="button" class="close" (click)="closeEmailModal()">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" [(ngModel)]="emailObj.email" name="email" required class="form-control mb-2" />
                    </div>
                    <div class="form-group">
                        <label for="company">Company</label>
                        <input type="text" id="company" [(ngModel)]="emailObj.company" name="company" required class="form-control mb-2" />
                    </div>
                    <div class="form-group">
                        <label for="jobTitle">Job Title</label>
                        <input type="text" id="jobTitle" [(ngModel)]="emailObj.jobTitle" name="jobTitle" required class="form-control mb-2" />
                    </div>
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select id="status" [(ngModel)]="emailObj.status" name="status" class="form-control mb-3">
                            <option *ngFor="let status of emailStatuses" [value]="status">{{ status | titlecase }}</option>
                        </select>
                    </div>
                    <button type="button" (click)="saveEmail()" class="add-button">{{ isEditMode ? 'Update' : 'Add' }} Email</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Filter Modal -->
    <div id="filterModal" class="modal" [ngClass]="{'show': showFilterModal}">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Filters</h5>
                <button type="button" class="close" (click)="closeFilterModal()">&times;</button>
            </div>
            <div class="modal-body">
                <button class="add-button" (click)="openStatusFilterModal()">Filter by Status</button>
            </div>
        </div>
    </div>

    <!-- Status Filter Modal -->
    <div id="statusFilterModal" class="modal" [ngClass]="{'show': showStatusFilterModal}">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Filter by Status</h5>
                <button type="button" class="close" (click)="closeStatusFilterModal()">&times;</button>
            </div>
            <div class="modal-body">
                <label for="statusFilter">Select Status:</label>
                <select id="statusFilter" [(ngModel)]="selectedFilterStatus" class="form-select" (change)="applyStatusFilter()">
                    <option *ngFor="let status of emailStatuses" [value]="status">{{ status | titlecase }}</option>
                </select>
            </div>
        </div>
    </div>
</div>
