/* Main container styling */
  
  .email-table-wrapper {
    width: 100%;
    max-width: 1400px;
    margin-bottom: 30px;
    overflow-x: auto;
  }
  
  .email-card {
    background-color: #aabbd2;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* color: white; */
    width: 100%;
  }
  
  .email-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    font-size: 1.8rem;
    color: #fff;
    text-align: center;
  }
  
  /* Header with action button */
  .header-with-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 1rem;
  }

  .btn-button{
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .addEmail-button {
    background-color: #E87A00;
  }
  .addEmail-button:hover {
    background-color: #A25D10;
  }

  .logout-button{
    background-color: #007bff;
  }
  .logout-button:hover{
    background-color: #0056b3 ;
  }

  .filter-button{
    background-color: #253B6B;
  }
  .filter-button:hover{
    background-color: #16284d;
  }
  
  /* Email table styling */
  
  
  .responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .responsive-table .table-header {
    background-color: #253b6bc8;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #f1f1f1;
    font-weight: 600
  }
  .responsive-table .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  .responsive-table .col-1 {
    flex-basis: 10%;
  }
  .responsive-table .col-2 {
    flex-basis: 40%;
  }
  .responsive-table .col-3 {
    flex-basis: 25%;
  }
  .responsive-table .col-4 {
    flex-basis: 20%;
  }
  @media all and (max-width: 767px) {
    .responsive-table .table-header {
      display: none;
    }
    .responsive-table li {
      display: block;
    }
    .responsive-table .col {
      flex-basis: 100%;
    }
    .responsive-table .col {
      display: flex;
      padding: 10px 0;
    }
    .responsive-table .col:before {
      color: #6C7A89;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
    }
  }
  
  /* Modal styles */
  .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #d8e1ee;
    padding: 20px;
    border-radius: 8px;
    /* width: 80%; */
    height: fit-content;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .modal-content{
    background-color: #ffff;
  }
  
  .modal.show {
    display: block;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-title {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .close {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .add-button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-button:hover {
    background-color: #218838;
  }
  
  /* Action buttons */
  .edit-button,
  .send-button,
  .delete-button {
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin: 2px 5px;
  }
  