<div class="privacy-policy-container">
<div>
    <strong>
        <span style="font-size: 26px;">PRIVACY POLICY</span>
    </strong>
</div>
<div style="color: rgb(127, 127, 127); font-size: 15px;">
    Last updated <strong>November 09, 2024</strong>
</div>

<div style="line-height: 1.5; color: rgb(89, 89, 89); font-size: 15px;">
    This Privacy Notice for <strong>Not So Cold Emailer</strong> ("we," "us," or "our"), describes how and why we
    might collect, store, use, and/or share ("process") your personal information when you use our services ("Services"),
    including when you:
</div>

<ul style="line-height: 1.5; color: rgb(89, 89, 89); font-size: 15px;">
    <li>Visit our website at <a href="https://coldemailer-8a82d.web.app/" target="_blank" style="color: rgb(0, 58, 250);">https://coldemailer-8a82d.web.app/</a></li>
    <li>Use Not So Cold Emailer, an automated email campaign tool designed to assist users in sending personalized follow-up emails for job applications, client outreach, and other professional communication needs.</li>
    <li>Engage with us in other related ways, including any sales, marketing, or events.</li>
</ul>

<div style="line-height: 1.5; color: rgb(89, 89, 89); font-size: 15px;">
    <strong>Questions or concerns?</strong> Reading this Privacy Notice will help you understand your privacy rights
    and choices. If you do not agree with our policies and practices, please do not use our Services. If you still
    have questions or concerns, please contact us at <a href="mailto:kulkarnipranavmahesh@gmail.com" style="color: rgb(0, 58, 250);">kulkarnipranavmahesh&#64;gmail.com</a>.
</div>

<div style="line-height: 1.5;"><br></div>

<div style="font-size: 15px;">
    <strong>SUMMARY OF KEY POINTS</strong>
</div>

<div style="line-height: 1.5; color: rgb(89, 89, 89); font-size: 15px;">
    <strong>What personal information do we process?</strong> When you visit, use, or navigate our Services, we may process personal information depending on how you interact with us and the Services, the choices you make, and the products and features you use. Learn more about <a href="#personalinfo" style="color: rgb(0, 58, 250);">personal information you disclose to us</a>.
</div>

<div style="line-height: 1.5; color: rgb(89, 89, 89); font-size: 15px;">
    <strong>How do we keep your information safe?</strong> We have adequate organizational and technical processes
    and procedures in place to protect your personal information. However, no electronic transmission over the
    internet or information storage technology can be guaranteed to be 100% secure.
</div>

<div id="toc" style="font-size: 15px;">
    <strong>TABLE OF CONTENTS</strong>
</div>

<ul style="line-height: 1.5; color: rgb(89, 89, 89); font-size: 15px;">
    <li><a href="#infocollect" style="color: rgb(0, 58, 250);">1. WHAT INFORMATION DO WE COLLECT?</a></li>
    <li><a href="#infouse" style="color: rgb(0, 58, 250);">2. HOW DO WE PROCESS YOUR INFORMATION?</a></li>
    <li><a href="#legalbases" style="color: rgb(0, 58, 250);">3. WHAT LEGAL BASES DO WE RELY ON TO PROCESS YOUR PERSONAL INFORMATION?</a></li>
    <li><a href="#whoshare" style="color: rgb(0, 58, 250);">4. WHEN AND WITH WHOM DO WE SHARE YOUR PERSONAL INFORMATION?</a></li>
    <li><a href="#cookies" style="color: rgb(0, 58, 250);">5. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</a></li>
    <li><a href="#sociallogins" style="color: rgb(0, 58, 250);">6. HOW DO WE HANDLE YOUR SOCIAL LOGINS?</a></li>
    <li><a href="#inforetain" style="color: rgb(0, 58, 250);">7. HOW LONG DO WE KEEP YOUR INFORMATION?</a></li>
    <li><a href="#infosafe" style="color: rgb(0, 58, 250);">8. HOW DO WE KEEP YOUR INFORMATION SAFE?</a></li>
    <li><a href="#privacyrights" style="color: rgb(0, 58, 250);">9. WHAT ARE YOUR PRIVACY RIGHTS?</a></li>
    <li><a href="#policyupdates" style="color: rgb(0, 58, 250);">10. DO WE MAKE UPDATES TO THIS NOTICE?</a></li>
    <li><a href="#contact" style="color: rgb(0, 58, 250);">11. HOW CAN YOU CONTACT US ABOUT THIS NOTICE?</a></li>
</ul>

<div id="infocollect" style="line-height: 1.5; font-size: 15px;">
    <strong>1. WHAT INFORMATION DO WE COLLECT?</strong>
</div>

<div style="line-height: 1.5; color: rgb(89, 89, 89); font-size: 15px;">
    We collect personal information that you voluntarily provide to us when you register on the Services, express an
    interest in obtaining information about us or our products and Services, or otherwise contact us.
</div>

<ul style="line-height: 1.5; color: rgb(89, 89, 89); font-size: 15px;">
    <li>Names</li>
    <li>Email addresses</li>
    <li>Job titles</li>
</ul>

<div id="infouse" style="line-height: 1.5; font-size: 15px;">
    <strong>2. HOW DO WE PROCESS YOUR INFORMATION?</strong>
</div>

<div style="line-height: 1.5; color: rgb(89, 89, 89); font-size: 15px;">
    We process your information to provide, improve, and administer our Services, communicate with you, and for
    security and fraud prevention.
</div>

<div id="legalbases" style="line-height: 1.5; font-size: 15px;">
    <strong>3. WHAT LEGAL BASES DO WE RELY ON TO PROCESS YOUR INFORMATION?</strong>
</div>

<div style="line-height: 1.5; color: rgb(89, 89, 89); font-size: 15px;">
    We only process your personal information when we believe it is necessary and we have a valid legal reason to do
    so under applicable law, such as with your consent or to fulfill our contractual obligations.
</div>

<div id="whoshare" style="line-height: 1.5; font-size: 15px;">
    <strong>4. WHEN AND WITH WHOM DO WE SHARE YOUR PERSONAL INFORMATION?</strong>
</div>

<div style="line-height: 1.5; color: rgb(89, 89, 89); font-size: 15px;">
    We may share information in specific situations, such as with business transfers or with service providers for
    analytics and advertising purposes.
</div>

<div id="cookies" style="line-height: 1.5; font-size: 15px;">
    <strong>5. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</strong>
</div>

<div style="line-height: 1.5; color: rgb(89, 89, 89); font-size: 15px;">
    We may use cookies and similar tracking technologies to collect and store your information.
</div>

<div id="sociallogins" style="line-height: 1.5; font-size: 15px;">
    <strong>6. HOW DO WE HANDLE YOUR SOCIAL LOGINS?</strong>
</div>

<div style="line-height: 1.5; color: rgb(89, 89, 89); font-size: 15px;">
    If you choose to register or log in to our Services using a social media account, we may have access to certain
    information about you.
</div>

<div id="inforetain" style="line-height: 1.5; font-size: 15px;">
    <strong>7. HOW LONG DO WE KEEP YOUR INFORMATION?</strong>
</div>

<div style="line-height: 1.5; color: rgb(89, 89, 89); font-size: 15px;">
    We keep your information for as long as necessary to fulfill the purposes outlined in this Privacy Notice unless
    otherwise required by law.
</div>

<div id="infosafe" style="line-height: 1.5; font-size: 15px;">
    <strong>8. HOW DO WE KEEP YOUR INFORMATION SAFE?</strong>
</div>

<div style="line-height: 1.5; color: rgb(89, 89, 89); font-size: 15px;">
    We aim to protect your personal information through a system of organizational and technical security measures.
</div>

<div id="privacyrights" style="line-height: 1.5; font-size: 15px;">
    <strong>9. WHAT ARE YOUR PRIVACY RIGHTS?</strong>
</div>

<div style="line-height: 1.5; color: rgb(89, 89, 89); font-size: 15px;">
    In some regions, you have rights that allow you greater access to and control over your personal information.
</div>

<div id="policyupdates" style="line-height: 1.5; font-size: 15px;">
    <strong>10. DO WE MAKE UPDATES TO THIS NOTICE?</strong>
</div>

<div style="line-height: 1.5; color: rgb(89, 89, 89); font-size: 15px;">
    Yes, we will update this notice as necessary to stay compliant with relevant laws.
</div>

<div id="contact" style="line-height: 1.5; font-size: 15px;">
    <strong>11. HOW CAN YOU CONTACT US ABOUT THIS NOTICE?</strong>
</div>

<div style="line-height: 1.5; color: rgb(89, 89, 89); font-size: 15px;">
    If you have questions or comments about this notice, you may email us at <a href="mailto:kulkarnipranavmahesh@gmail.com" style="color: rgb(0, 58, 250);">kulkarnipranavmahesh&#64;gmail.com</a> or contact us by post at:
</div>

<div style="line-height: 1.5; color: rgb(89, 89, 89); font-size: 15px;">
    Not So Cold Emailer<br>
    25 Troyer Avenue<br>
    North York, Toronto, Ontario, M3J 0A3<br>
    Canada
</div>

</div>
