<div class="d-lg-flex half bg-signup">
    <div class="bg order-2 order-md-1" ></div>

    <div class="contents order-1 order-md-2">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7">
                    <div class="row logo">
                        <img class="login-logo" src="../../../assets/logo1.png">
                        <h1 class="text-center cold">Not So Cold</h1>
                        <h3 class="text-center">Sign Up</h3>
                    </div>
                    <form>
                        
                        <div class="form-group first">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" id="email" class="form-control" name="email" [(ngModel)]="username">
                        </div>
                        <div class="form-group last mt-3 mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" id="password" class="form-control" name="password" [(ngModel)]="password">
                        </div>
                        <button type="button" class="btn btn-block mb-3" (click)="signup()">Sign Up</button>

                        <div class="row">
                            <div class="link-wrapper">
                                <a href="/login" class="link">Already have an account? <br/> <span class="link-highlight">Login</span></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
